* {
  outline: none;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  outline: none;
}

.snake-container {
  height: 400px;
  width: 300px;
  border: 1px solid black;
  background: gray;
}

.snake-body {
  width: 10px;
  height: 10px;
  background: black;
}
